<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.filmproductionhelper">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/filmslate"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ItemActivity"></activity>
        <activity android:name=".MaterialList" />
        <activity android:name=".Clapper" />
        <activity android:name=".CallSheet" />
        <activity android:name=".Storyboard" />
        <activity android:name=".MaterialBasics" />
        <activity android:name=".ShotList" />
        <activity android:name=".Treatment" />
        <activity android:name=".Pitch" />
        <activity android:name=".TestFilm" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>